* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    outline: none;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}